body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

header {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color : var(--sage-green); /* Hover effect with a magical touch */
}

h1 {
    color: var(--dark-green);
}

h2 {
    color: var(--dark-green);
}

p, label, input, textarea, button {
    font-size: 16px;
    line-height: 1.6;
}

main {
    padding: 220px;
    background-color: var(--magical-gradient);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

footer {
    background-color: var(--dark-green);
    color: var(-white);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Form Styling */
form {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgbs(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--sage-green);
    border-radius: 4px;
}

input[type="submit"], button {
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--sage-green);
    color: var(--dark-green);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        padding: 10px 0;
    }

    footer {
        position: static;
        padding: 20px;
    }
}